.product .banner, .product .swiper-wrapper {
  height: 300px; }

.product #map {
  width: calc(100% - 20px);
  margin: 10px;
  height: calc(100vh - 380px); }
  .product #map .amap-logo, .product #map .amap-copyright {
    display: none !important; }
