.detail-con{
    header{
        height: 60px;
        background: red;
        h2{
            font-size: 18px;
            text-align: center;
            height: 60px;
            line-height: 60px;
            font-weight: normal;
        }
        span{
            position: absolute;
            top:0;
            left: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 26px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
    .con{
        // text-align: center;
        img{
            width: 100%;
        }
        h6{
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }
        span{
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: 10px auto;
        }
        p{
            line-height: 26px;
        }
    }
    
}