.detail-con{
    .con{
        margin-top: 60px;
        padding:10px;
        img{
            width: 100%;
        }
        h6{
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }
        span{
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: 10px auto;
        }
        p{
            line-height: 26px;
        }
    }
    
}