.detail-con .con {
  margin-top: 60px;
  padding: 10px; }
  .detail-con .con img {
    width: 100%; }
  .detail-con .con h6 {
    width: 100%;
    text-align: center;
    margin-top: 15px; }
  .detail-con .con span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px auto; }
  .detail-con .con p {
    line-height: 26px; }
