.home-header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2a2a;
  z-index: 100; }
  .home-header > div {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 90; }
    .home-header > div img {
      height: 60px; }
    .home-header > div span {
      margin-right: 10px;
      color: #fff; }
      .home-header > div span i {
        font-size: 26px; }
  .home-header > ul {
    position: absolute;
    top: 60px;
    left: 0;
    background: #2a2a2a;
    width: 100%;
    transition: all 1s;
    z-index: 80; }
    .home-header > ul li {
      border-top: 1px solid #464646;
      height: 86px;
      line-height: 86px;
      text-align: center;
      color: #fff; }
  .home-header .feadIn {
    top: 60px; }
  .home-header .feadOut {
    top: -348px; }

@keyframes feadIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes feadOut {
  0% {
    opacity: 1; }
  100% {
    display: none;
    opacity: 0; } }
