.home-banner {
  position: absolute;
  top: 60px;
  bottom: 61px;
  left: 0;
  width: 100%;
  height: 400px; }
  .home-banner .swiper-wrapper img {
    width: 100%; }
  .home-banner .swiper-pagination-bullet {
    background: red;
    opacity: 1; }
  .home-banner .swiper-pagination-bullet-active {
    background: #000;
    opacity: 1; }
