.login {
  margin-top: 60px; }
  .login > div > i {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #cdcdcd;
    font-size: 60px;
    margin: 60px auto; }
  .login > ul li {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-align: center; }
    .login > ul li input {
      border: 1px solid #cdcdcd;
      height: 40px;
      border-radius: 4px;
      width: 70%;
      padding-left: 16px;
      outline: none;
      box-sizing: border-box; }
    .login > ul li input:focus {
      border-color: blue; }
    .login > ul li span {
      display: block;
      width: 70%;
      font-size: 14px;
      color: aquamarine; }
    .login > ul li button {
      width: 70%;
      height: 40px;
      display: block;
      margin: 10px auto 0;
      background: #0284e2;
      border-radius: 6px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 30px;
      text-align: center;
      box-sizing: border-box;
      padding-left: 30px; }
  .login > ul li h3 {
    font-size: 16px;
    color: red; }
