body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

.con {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 61px;
  width: 100%;
  overflow: auto; }
