body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color: transparent;
}
//这里放公共的css样式
.nav-none{
  height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    background: #fff;
    overflow-y: auto;
    
}
input,button{
  border: none;
  outline: none;
}
button{
  background: #fff;
}
